# ignore all logs
*.log

# ignore pycache
*__pycache__

# ignore pth
*.pth

# ignore data
*.npy
*.png

# ignore jupyter jopascripts
*.ipynb_checkpoints*
input/dataset1024
.DS_Store
/unet_pipeline/experiments/albunet_valid/checkpoints
/unet_pipeline/.configs
/unet_pipeline/image_classif.egg-info
/unet_pipeline/image_clasif.egg-info
/unet_pipeline/my_ray_project.egg-info
