# ignore all logs
*.log

# ignore pycache
*__pycache__

# ignore pth
*.pth

# ignore data
*.npy
*.png

# ignore jupyter jopascripts
*.ipynb_checkpoints*
input/dataset1024
.DS_Store
/unet_pipeline/experiments/albunet_valid/checkpoints
